{% extends 'base.html.twig' %}

{% block body %}
<style>
  .error{color: red}
  .col-center{
    float: none;
    margin: 0 auto;
}
</style>
<div class="container text-center">
    <div class="col-md-6 well col-md-offset-3 ">
      {% if error %}
      <span class="error">{{ error.messageKey }}</span>
      {% endif %}
      <form action="{{ path('login')}}" method="POST">
          <div class="form-group">
            <label for="_username">Username</label>
            <input type="text" name="_username" class="form-control" placeholder="Username"><br>
          </div>
          <div class="form-group">
            <label for="_password">Password</label>
             <input type="password" name="_password" class="form-control" placeholder="Password"><br>
          </div>
          <button type="submit" class="btn btn-success btn-sm">Ingresar</button>
        </form> 
    </div>
</div>
{% endblock %}
